{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <!-- SEO Title -->
    <title>
        {% if blog.seo_title %}
            {{ blog.seo_title }}
        {% else %}
            {{ blog.title }}
        {% endif %}
    </title>


    <!-- Meta Description -->
    <meta
        name="description"
        content="{% if blog.seo_description %}{{ blog.seo_description }}{% else %}{{ blog.title }}{% endif %}"
    >


    <!-- Meta Keywords -->
    {% if blog.seo_keywords %}
        <meta
            name="keywords"
            content="{{ blog.seo_keywords }}"
        >
    {% endif %}


    <!-- Robots -->
    <meta
        name="robots"
        content="index, follow"
    >


    <!-- Canonical URL -->
    <link
        rel="canonical"
        href="{{ request.build_absolute_uri }}"
    >


    <!-- Open Graph -->

    <meta
        property="og:title"
        content="{% if blog.seo_title %}{{ blog.seo_title }}{% else %}{{ blog.title }}{% endif %}"
    >

    <meta
        property="og:description"
        content="{% if blog.seo_description %}{{ blog.seo_description }}{% else %}{{ blog.title }}{% endif %}"
    >

    <meta
        property="og:type"
        content="article"
    >

    <meta
        property="og:url"
        content="{{ request.build_absolute_uri }}"
    >


    <!-- Open Graph Image -->

    {% if blog.featured_image %}

        <meta
            property="og:image"
            content="{{ request.scheme }}://{{ request.get_host }}{{ blog.featured_image.url }}"
        >

    {% endif %}


    <!-- JSON-LD Structured Data -->

    <script type="application/ld+json">
        {{ structured_data|safe }}
    </script>

</head>


<body>


    <!-- Breadcrumb -->

    <nav aria-label="Breadcrumb">

        <a href="/">
            Home
        </a>

        &gt;

        <a href="{% url 'blog-list' %}">
            Blog
        </a>

        &gt;

        <span>
            {{ blog.title }}
        </span>

    </nav>


    <br>


    <!-- Blog Article -->

    <article>


        <!-- Blog Title -->

        <h1>
            {{ blog.title }}
        </h1>


        <!-- Featured Image -->

        {% if blog.featured_image %}

            <img
                src="{{ blog.featured_image.url }}"
                alt="{% if blog.image_alt %}{{ blog.image_alt }}{% else %}{{ blog.title }}{% endif %}"
                title="{{ blog.title }}"
                loading="lazy"
            >

        {% endif %}


        <br>
        <br>


        <!-- Blog Content -->

        <div>

            {{ blog.content|safe }}

        </div>


    </article>


</body>

</html>